
div(class="container mt-3" style="margin-top: 100;")
    h2(style='color:crimson;') Historial
    br
    if DB_PRODUCTOS.length > 0
        div(class="table-responsive")
            table.table.table-dark
                tr(style='color: yellow;')
                    th Nombre
                    th Precio
                    th Imagen
                each producto in DB_PRODUCTOS       
                    tr
                        td=producto.nombre
                        td=producto.precio
                        td
                            img(width="30" src=producto.url, alt=producto.nombre)
    else 
        h3(class="alert alert-warning")='No se encontraron productos'
